*.pb.go     linguist-generated=true
*.pb        linguist-generated=true
*           text=auto eol=lf
go.sum      linguist-generated=true
CHANGELOG/* linguist-generated=true
pkged.go    linguist-generated=true
