sysl2/sysl/grammar/sysl*.go linguist-generated=true
sysl2/sysl/sysl_js/SyslParser.js linguist-generated=true
sysl2/sysl/sysl_js/SyslLexer.js linguist-generated=true
sysl2/sysl/sysl_js/SyslParserListener.js linguist-generated=true
sysl2/sysl/sysl_js/*.tokens linguist-generated=true
