/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #007dba;
  --ifm-color-primary-dark: #004165;
  --ifm-color-primary-darker: #394a58;
  --ifm-color-primary-darkest: #253d50;
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__title {
  color: #007dba;
  font-family: Lato, Arial, sans-serif;
  font-size: 2em;
}

.pull-right {
  float: right;
}

html {
  --ifm-color--text--desc: #4a4a4a;
  --ifm-color--text--primary: #007dba;
  --feature-svg--filter: none;
}

html[data-theme="dark"] {
  --ifm-color--text--desc: #ffffff;
  --ifm-color--text--primary: #ffffff;
  --feature-svg--filter: invert(100%) sepia(100%) saturate(100%)
    hue-rotate(346deg) brightness(104%) contrast(97%);
}
.container {
  max-width: 100%;
}

@media (max-width: 1320px) and (min-width: 997px) {
  .container {
    max-width: 100% !important;
  }
}
