dist/
*.json
*.lock

# TODO: Fix style and/or rules in the following files:
src/model/constraint.test.ts
src/model/constraint.ts
src/model/model.test.ts
src/model/statement.ts
src/model/elementRef.test.ts
src/common/format.test.ts
src/model/view.test.ts
src/model/element.test.ts
src/model/endpoint.test.ts
src/pbModel/statement.ts
src/model/statement.test.ts
