+++
title= "{{.Name}}"
draft= false
description= ""
layout= "byexample"


ID = "{{.ID}}"
Segs = [{{range .Segs}}[
  {{range .}}
      {CodeEmpty= {{.CodeEmpty}},CodeLeading= {{.CodeLeading}},CodeRun= {{.CodeRun}},CodeRendered="""{{.CodeRendered}}""",DocsRendered= """{{.DocsRendered}}"""},
{{end}}
],
{{end}}
]
+++


