name: Check docs

on: [pull_request]

jobs:
  markdown-link-check:
    name: Check for broken links
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        config-file: '.md-link-check-config.json'
        folder-path: 'docs/docs,docs/blog'

    - name: yarn build docs
      working-directory: docs
      run: yarn install && yarn build
