# See related documentation in https://github.com/anz-bank/sysl/blob/master/docs/releasing.md
name: Release

on:
  push:
    tags:
      - 'v*.*.*'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release-sysl:
    name: Release Sysl
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v2
        with:
          go-version: 1.13

      - name: Check out code into the Go module directory
        uses: actions/checkout@master

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Check go.mod and go.sum are tidy
        run: make check-tidy

      - name: Test
        run: make coverage
        env:
          SYSL_PLANTUML: http://www.plantuml.com/plantuml

      - name: Validate goreleaser config
        uses: goreleaser/goreleaser-action@v1.3.1
        with:
          version: v0.126.0
          args: check -f .goreleaser.yml

      - name: Set env
        run: echo ::set-env name=GOVERSION::$(go version | awk '{print $3, $4;}')

      # GoReleaser release process is customized in `.goreleaser.yml` file
      - name: Release binaries via goreleaser
        uses: goreleaser/goreleaser-action@v1.3.1
        with:
          version: v0.126.0
          args: release --rm-dist --debug -f .goreleaser.yml
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}

      - name: Build and push docker image
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
          repository: docker.io/anzbank/sysl
          tag_with_ref: true
          add_git_labels: true
          tags: latest
          labels: org.opencontainers.image.revision=${{ github.sha }},org.opencontainers.image.url=https://sysl.io

      # FIXME: sysl_js hasn't been rebuilt for months and it is out of date.
      # If sysl_js works again, please add NPM_PUBLISH_TOKEN to GitHub secrets
      # and uncomment this step.
      # - name: Release sysl_js
      #   run: cd unsorted/sysl_js && NPM_AUTH_TOKEN=$ npm publish
      #   env:
      #     NPM_PUBLISH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
